<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CDM_ApplicationName" value="CDMDEV"/>
  </appSettings>
  <connectionStrings>
    <add name="Membership_DB"
         connectionString="Data Source=(local);Initial Catalog=Atrendia_WEB;Persist Security Info=True;User ID=sa" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <!-- XXX: disable when in production -->
    <!-- Use forms authentication. -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx">
        <credentials passwordFormat="SHA1"/>
      </forms>
    </authentication>

    <!-- Deny anonymous users. -->
    <authorization>
      <deny users="?"/>
      <allow roles="CDMTrainer"/>
      <deny users="*"/>
    </authorization>

    <!-- Define membership provider. -->
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <clear/>
        <add name="DefaultMembershipProvider"
             connectionStringName="Membership_DB"
             applicationName="CourseManagement"
             enablePasswordReset="true"
             enablePasswordRetrieval="false"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="10"
             minRequiredPasswordLength="5"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <roleManager enabled="true"
                 cacheRolesInCookie="true"
                 defaultProvider="DefaultRoleProvider">
      <providers>
        <clear/>
        <add name="DefaultRoleProvider"
             applicationName="CourseManagement"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="Membership_DB"/>
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="DefaultProfileProvider">
      <properties>
        <add name="CDM_UserId"
             type="System.String"
             allowAnonymous="false"/>
      </properties>
      <providers>
        <clear/>
        <add name="DefaultProfileProvider"
             connectionStringName="Membership_DB"
             applicationName="CourseManagement"
             type="System.Web.Profile.SqlProfileProvider" />
      </providers>
    </profile>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>

  <location path="PasswordRecovery.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
